* {
    margin: 0px;
    padding: 0px; 
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    margin: auto;
    background-color: #fff;
    color: #000;
    z-index: 100;
    position: sticky;
}

.logo img {
    width: 100px;
    object-fit: contain;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 0px 20px;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    transition: all .5s ease-in-out;
}

ul li .cta {
    padding: 10px 10px; 
    background-color: #00BFA6;
    border-radius: 50px; 
    color: #fff;
}

ul li a:hover {
    padding: 10px 10px; 
    background-color: #00BFA6;
    border-radius: 50px;
    color: #fff;
}

.presentation {
    display: flex;
    align-items: center;
    padding:20px 10%;
    margin: auto;
    min-height: 80vh;
}

.presentation-container {
    flex: 1;
    max-width: 55%;
}

.presentation-text-container .title {
    font-family: "Russo One", sans-serif;
}

.presentation-text-container .subtitle {
    font-size: 16px;
    color: grey;
    padding-top: 20px;
}

.cta-container {
    padding: 20px 0px 0px 0px;
}

.cta-container button {
    border: none; 
    padding: 10px 15px; 
    background-color: #00BFA6;
    border-radius: 50px;
}

.cta-container button a {
    text-decoration: none;
    color: #fff;
}
.image-container {
    flex: 1;
	display: flex;
	justify-content: center;
	height: 40vh;
}

.image-container .cover {
    height: 100%;
}
